/* 
    Style for admin editor
    Created on : 03/07/2014, 20:01:22
    Author     : lcohen
*/

/**** Override styles  ****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html{ 
    font-size: 62.5%;
}
b, strong {
    font-weight: bold;
}
dfn, cite, em, i {
    font-style: italic;
}
blockquote:before,
q:before{
    display: block;
    content: "\201D";
    font-size: 8rem;
    position: absolute;
    right: -2rem;
    top: -2rem;
    color: #3370b1;
}
blockquote, q {
    quotes: "" "";
    font-style: italic;
    width: 80%;
    margin: 1.25rem auto;
    padding: 0.25rem 4rem;
    line-height: 1.45;
    position: relative;
}
cite{
    color: #797979;
    font-size: 1.6rem;
    display: block;
    margin-top: 0.5rem;
}

cite:before{
    content: "\2014 \2009";
}
.clear:before,
.clear:after{
    content: '';
    display: table;
}
.clear:after{
    clear: both;
}
body#tinymce.wp-editor{
    font:  2rem / 1.5 'Alef';
    padding: 0 1rem 0 3rem;
}
body#tinymce.wp-editor a{
    color: rgba(64,64,64,0.7);
    text-decoration: underline;
}
body#tinymce.wp-editor img{
    max-width: 100%;
    height: auto;
}
.wp-caption {
    border: 1px solid #c5c5c5;
    /* margin-bottom: 1.5em; */
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    border: none;
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%;
    padding: 0;
}
.wp-caption-text,
.wp-caption-dd{
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 1.6rem;
}
.wp-caption .wp-caption-text,
.wp-caption .wp-caption-dd{
    margin: 0.8075rem 0;
    padding: 0;
}
.wp-caption-dt > br{ /* there is a br added in editor, and ot adds to the image height... */
    display: none;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
body#tinymce.wp-editor [style*="#0000ff"]{
    color:#2d71ba !important;
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
body#tinymce.wp-editor p{ 
    margin-bottom: 1em;
}
body#tinymce.wp-editor h1{
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 2.7rem;
    margin-bottom: 1rem;
}
body#tinymce.wp-editor h2{
    font-size: 2.5rem;
}
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4{
    color: #3370b1;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
body#tinymce.wp-editor .page-id-68 h3{ /* titles in Kmoha in Media page*/
    padding-top: 4rem;
    margin-top: 4rem;
    border-top: 1px solid #c5c5c5;
}
body#tinymce.wp-editor h4{
    color: #404040;
}
body#tinymce.wp-editor h5{
    font-size: 1.8rem
}
body#tinymce.wp-editor h6{
    font-size: 1.6rem;
}
body#tinymce.wp-editor h1
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6{
    clear: none;
}
body#tinymce.wp-editor .alignnone.size-full{
    display: block;
    margin: 0 auto;
}

body#tinymce.wp-editor hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
body#tinymce.wp-editor ul, 
body#tinymce.wp-editor ol {
    margin: 0 3em 1.5em 0;
}
body#tinymce.wp-editor ul {
    list-style: disc;
}
body#tinymce.wp-editor ol {
    list-style: decimal;
}
body#tinymce.wp-editor li {
    margin-bottom: 1rem;
}
body#tinymce.wp-editor li > ul,
body#tinymce.wp-editor li > ol {
    margin-bottom: 0;
    margin-right: 1.5em;
}
body#tinymce.wp-editor dt {
    font-weight: bold;
}
/* conflicts with image caption, which is dd=>dt elements in editor
body#tinymce.wp-editor dd {
    margin: 0 1.5em 1.5em;
}*/
body#tinymce.wp-editor figure {
    margin: 0;
}
body#tinymce.wp-editor table {
    margin: 0 0 1.5em;
    width: 100%;
    border: 1px solid #e5e5e5;
}
body#tinymce.wp-editor th {
    font-weight: bold;
}
body#tinymce.wp-editor table td, 
body#tinymce.wp-editor table th {
    padding: 1rem 0.5rem;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
body#tinymce.wp-editor table tr:nth-child(2n) td {
    background-color:   #efefef;
}

body#tinymce.wp-editor p + br,
body#tinymce.wp-editor li br:first-child,
body#tinymce.wp-editor ol br:first-child,
body#tinymce.wp-editor li + br,
body#tinymce.wp-editor ol + br{
    display: none;
}

.letter{
    background-color: #eaf1f8;
    /* border-right: 0.5rem solid #333; */
    padding: 2rem 3rem;
    box-shadow: 1px 1px 0px 0 #3370b1;
    margin-bottom: 8rem;
    border-radius: .5rem;
}

.question{
    font-weight: bold;
    color: #3370b1;
}